.listIframes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 114px;
}

@media (max-width: 970px) {
    .listIframes {
        gap: 60px;
    }
}
