.input {
    width: 100%;
    border: none;
    border-bottom: 3px solid white;
    background-color: #2f2f2f;
    padding: 2px 5px;
    font-size: 1.2rem;
    font-family: "Jost";
    color: white;
    margin: 40px 0;
    transition: all 0.2s ease-in-out;
}
.input:focus {
    outline: none;
    background-color: var(--bcakColor);
}
