.image {
    height: 500px;
    width: 100%;
    flex: none;
}
.section {
    margin-bottom: 100px;
    max-width: 450px;
    width: 50%;
}
.text {
    text-align: justify;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
