.image {
    height: 580px;
    width: 100%;
    position: relative;
}
.section {
    margin-bottom: 100px;

    width: 45%;
}
.overflow {
    overflow: hidden;
}
.text {
    text-align: justify;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
}
@media (max-width: 920px) {
    .row {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .section {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 100vh;
    }
    .image {
        height: 400px;
        aspect-ratio: 1.2;
    }
}
@media (max-width: 570px) {
    .image {
        height: 280px;
    }
}
