.image {
    width: 100%;
    aspect-ratio: 4/6;
    position: relative;
}
.section {
    margin-bottom: 100px;

    width: 500px;
}
.overflow {
    overflow: hidden;
}
.text {
    text-align: justify;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

@media (max-width: 1200px) {
    .section {
        width: 400px;
    }
    .row {
        max-width: 900px;
        margin: auto;
    }
}

@media (max-width: 920px) {
    .row {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .section {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        margin-bottom: 40px;
    }
    .image {
        height: 640px;
        aspect-ratio: 1.2;
    }
}
@media (max-width: 570px) {
    .image {
        height: 460px;
    }
    .row {
    }
}
@media (max-width: 440px) {
    .image {
        height: 310px;
    }
}
