.h2 {
    text-align: center;
    font-family: "Fredericka the Great", cursive;
    font-size: 2.6em;
    font-weight: 400;
    margin-top: 2.9rem;
    margin-bottom: 1.6rem;
}
.contentNews {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
