.h2 {
    text-align: center;
    font-family: "Fredericka the Great", cursive;
    font-size: 2.8em;
    font-weight: 400;
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
    margin-top: 0;
    margin-bottom: 0;
}
.contentNews {
    max-width: 1300px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--backColor);
}
@media (max-width: 1600px) {
    .contentNews {
        max-width: 1200px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 920px) {
    .contentNews {
        padding-left: 10px;
        padding-right: 10px;
    }
    .h2 {
        font-size: 2.4em;

        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }
}
@media (max-width: 570px) {
    .contentNews {
        padding-left: 5px;
        padding-right: 5px;
    }
    .h2 {
        font-size: 1.8em;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
@media (max-width: 440px) {
    .h2 {
        font-size: 1.5em;
        padding-top: 1.8rem;
        padding-bottom: 1.6rem;
    }
}
