.imgSocial {
    height: 35px;
    width: 40px;

    margin-left: 20px;
    margin-right: 0px;
}
@media (max-width: 992px) {
    .imgSocial {
        margin-left: 10px;
        margin-right: 10px;
    }
}
