.iframe {
    width: 500px;
    height: 750px;
}
.containerIframe {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 1200px) {
    .iframe {
        width: 400px;
        height: 600px;
    }
}

@media (max-width: 920px) {
    .containerIframe {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        justify-content: center;
    }
}
@media (max-width: 440px) {
    .containerIframe {
        max-width: none;
    }
}
