.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backColor);
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100vw;
}
.logo {
    flex: 1;
}
/* .li:hover {
    opacity: 0.8;
} */
.flexOne {
    flex: 1;
}
.socials {
    display: flex;
    justify-content: flex-end;
}
.img {
    position: relative;
    height: 55px;
    aspect-ratio: 1;
}
.imgSocial {
    height: 40px;
    aspect-ratio: 1;
    margin: 20px;
}
.imgSocial:last-child {
    margin-right: 0;
}

@media (max-width: 992px) {
    .logo {
        flex: none;
    }
    .nav {
        height: 65px;
    }
    .navBtn {
        display: flex;
    }
    .socials {
        display: none;
    }

    .img {
        height: 45px;
    }
    .imgSocial:last-child {
        height: 35px;
        margin: 15px;
    }
}
